# Desafio QODA em R

### Fase 2 - Intermediário

* Elaborado por Qoda Data Science
* Respondido por: Rodrigo da Costa Aglinskas

Crie um algoritmo em R que peça uma nota, entre 0 e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [ ]:
print('########DIGITE O VALOR ENTRE 0 E 100########')

readinteger <- function(){
  n <- readline(prompt="Por favor, digite um valor entre 0 e 100: ") 
}

repeat {   
  response <- as.integer(readinteger());
  if (response <= 100) {
    print('Parabéns, valor correto');
    break
  } else print('valor incorreto tente novamente');
}

[1] "########DIGITE O VALOR ENTRE 0 E 100########"
Por favor, digite um valor entre 0 e 100: 50
[1] "Parabéns, valor correto"

Crie um algoritmo em R que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [ ]:
readstring <- function(){
  n <- readline(prompt="usuario: ")
}
readstring2 <- function(){
  n2 <- readline(prompt="senha: ")
}

usuario <- readstring()
senha <- readstring2()

while (usuario==senha) {   
  print("Erro: Senha idêntica ao usuário. Tente novamente.");
  usuario <- readstring();
  senha <- readstring2();
}

usuario: rodrigo
senha: rodrigo
usuario: rodglins
senha: rodrigo
[1] "Erro: Senha idêntica ao usuário. Tente novamente."

Crie um algoritmo em R que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [ ]:
library(tidyverse)

In [ ]:
nome <- function(){
  nome <- readline(prompt="nome: ")
  nomeNumero = str_length(nome)
  while (nomeNumero <= 3) {  
    print("Erro: Inserir nome com mais de três caracteres.");
    nome <- readline(prompt="nome: ")  
} 
}

idade <- function(){
  ida <- as.integer(readline(prompt="idade: "))
  while (ida >= 150) {   
    print("Erro: Inserir nome com mais de três caracteres.");
    ida <- readline(prompt="idade: ")
}
}
salario <- function(){
  sal <- readline(prompt="salario: ")
  while (sal <= 0) {  
    print("Erro: Inserir salário maior que zero.");
    sal <- readline(prompt="salario: ")
}
}
sexo <- function(){
  sex <- readline(prompt="sexo: ")
  sexLis <- 'fm'
  while (sex %in% sexLis) { 
    print("Erro: Inserir sexo como f ou m");
    sex <- readline(prompt="sexo: ")
}
}
estadoCivil <- function(){
  est <- readline(prompt="Estado Civil: ")
  estLis <- 'scvd'
  while (est %in% estLis) {  
    print("Erro: Inserir 's', 'c', 'v', 'd'");
    est <- readline(prompt="Estado Civil: ")
}
}
nome()
idade()
salario()
sexo()
estadoCivil()

nome: rodrigo
idade: 15
salario: 100
sexo: m
Estado Civil: s

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em R que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [ ]:
popA = 80000
popB = 200000
crescA = 3
crescB = 1.5

n=0
while (popA <= popB){
  popA = popA +((popA*3)/100)
  popB = popB +((popB*1.5)/100)
  n = n+1
}

print(n)

[1] 63

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [ ]:
print('##################### GERADOR DE TABUADA ######################')
nume = readline(prompt="Digite um número entre 1 e 10 ")
num = as.integer(nume)
n = 0

if (num > 0 & num <= 10){
  while (n < 10){
    n = n + 1
    print(num*n)
  }
} else{
  print('Número incorreto')
}

[1] "##################### GERADOR DE TABUADA ######################"
Digite um número entre 1 e 10 5
[1] 5
[1] 10
[1] 15
[1] 20
[1] 25
[1] 30
[1] 35
[1] 40
[1] 45
[1] 50

Crie um algoritmo em R que leia três números e mostre o maior e o menor deles.

In [40]:
n=0
# lista= c(readline(prompt="Digite um número:"))
while (n <=2){
  n=n+1
  lista = c(readline(prompt="Digite um número:"))
  # lista2 = as.integer(lista)
  lista2 = append(lista2, lista, after = length(lista2))
}

print(min(lista2))
print(max(lista2))

Digite um número:4
Digite um número:6
Digite um número:9
[1] "1"
[1] "9"

Crie um algoritmo em R que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [39]:
i=3
base = c(readline(prompt="Insira o número da base: "))
expo = c(readline(prompt="Insira o número do exponencial: "))
base = as.integer(base)
expo = as.integer(expo)
calculo=base*base
repeat{
if (i<=expo){
calculo=calculo*base
i=i+1} else {break}
}
calculo

Insira o número da base: 5
Insira o número do exponencial: 3

[1] 125

Crie um algoritmo em R que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [24]:
i=1
soma=0
lista2 = as.integer()
repeat{
if (i<=10){
lista = c(readline(prompt="Digite um número:"))
lista2 = append(lista2, lista, after = length(lista2))
i=i+1} else {break}
}

par <- (1:length(lista2) %% 2) == 0 
impar <- (1:length(lista2) %% 2) != 0 

lista2[par]
lista2[impar]

Digite um número:1
Digite um número:2
Digite um número:3
Digite um número:4
Digite um número:5
Digite um número:6
Digite um número:7
Digite um número:8
Digite um número:9

[1] "2" "4" "6" "8" "9"

[1] "1" "3" "5" "7" "8"

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que: Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00; Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em R que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário

In [45]:
#desde 1995
#inicial 1000
# 1996 +x=1,5% 
#1997 + x=x*2

i = as.integer(1997)
anoAtual = as.integer(format(Sys.Date(), "%Y"))

salario = as.double(1000)
porcentagem = 1.5
aumento = (salario * porcentagem)/100
salario = salario + aumento

repeat{
if (i<=anoAtual){
porcentagem = porcentagem * 2
aumento = (salario * porcentagem)/100 
salario = salario + aumento

i=i+1} else {break}
}

salario

[1] 2021

[1] 7.93849e+60

Crie um algoritmo em R com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [52]:
num = c(readline(prompt="Digite um número inteiro: "))
num = as.integer(num)

if (num <= 0){
  print('P')
} else{
  print('N')
}

Digite um número inteiro: 1
[1] "N"

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [75]:
library(lubridate)
data = dmy(readline(prompt="Digite a data no formato DD/MM/AAAA: "))

excessoes <- data.frame(
  num = 11:19,
  nome = c("onze", "doze", "treze", "catorze", "quinze", "dezesseis", "dezessete", "dezoito", "dezenove"),
  stringsAsFactors = F
)

unidades <- data.frame(
  num = 1:9,
  nome = c("um", "dois", "três", "quatro", "cinco", "seis", "sete", "oito", "nove"),
  stringsAsFactors = F
)  

dezenas <- data.frame(
  num = 1:9,
  nome = c("dez", "vinte", "trinta", "quarenta", "cinquenta", "sessenta", "setenta", "oitenta", "noventa"),
  stringsAsFactors = F
)

library(stringr)
escrever_numero <- function(x){

  tamanho <- str_length(x)
  num_vetor <- unlist(str_split(x, ""))

  if(x %in% excessoes$num){
    return(excessoes$nome[excessoes$num == x])
  } else {
    unidade <- num_vetor[tamanho]
    unidade <- unidades$nome[unidades$num == unidade]
    if(tamanho > 1){
      dezena <- num_vetor[tamanho -1]
      dezena <- dezenas$nome[dezenas$num == dezena]
    }
  }

  if(length(unidade) == 0){
    return(dezena)
  } else if (tamanho > 1){
    return(paste(dezena, "e", unidade))
  } else{
    paste(unidade)
  }

}


escrever_numero(day(data))
wday(data, label = TRUE)
month(data, label = TRUE)
escrever_numero(year(data))

Digite a data no formato DD/MM/AAAA: 15/10/1983

[1] "quinze"

[1] Sat
Levels: Sun < Mon < Tue < Wed < Thu < Fri < Sat

[1] Oct
12 Levels: Jan < Feb < Mar < Apr < May < Jun < Jul < Aug < Sep < ... < Dec

[1] "oitenta e três"